{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Django Example</title>
	<link rel="stylesheet" href="{% static "app/css/style.css" %}">
</head>
<body>
	<header>
		<a href="{% url 'posts' %}"><h1>Awesome blog</h1></a>
        <p style="padding-left: 5%;"> Hello, 
            {% if user.is_authenticated %}
                {{user.get_username}}!
                {% if perms.app.add_post %}
                    <a href='{% url 'add' %}'>new post</a>
                {% endif %}
                <a href='{% url 'logout' %}?next={{request.path}}'>logout</a>

            {% else %}
                dear user!
                <a href='{% url 'login' %}?next={{request.path}}'>login</a>
            {% endif %}
        </p>
	</header>
	<div class="container">
		<div class="column">
			{% block content %}
            {% endblock %}
		</div>
	</div>
	<footer class="footer">
        {% if page_obj %}
            <div>
                {% if page_obj.has_previous %}
                    <a href="?page=1">first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span>{{page_obj.number}}</span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
                {% endif %}
            </div>
        {% endif %}
        {% comment %} <div>
		    <p>&copy; 2023 Awesome blog example</p>
        </div> {% endcomment %}
	</footer>
</body>
</html>